USE [TI_Database]
GO
/****** Object:  Table [dbo].[Ignore_Databases]    Script Date: 10/06/2021 09:29:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ignore_Databases](
	[Nm_Database] [varchar](500) NULL
) ON [PRIMARY]
GO
