USE [TI_Database]
GO
/****** Object:  Table [dbo].[HTML_Parameter]    Script Date: 10/06/2021 09:29:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HTML_Parameter](
	[Company_Link] [varchar](4000) NULL,
	[Line_Space] [varchar](4000) NULL,
	[Header] [varchar](4000) NULL
) ON [PRIMARY]
GO
