USE [TI_Database]
GO
/****** Object:  Table [dbo].[User_Database]    Script Date: 10/06/2021 09:29:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Database](
	[Id_Database] [int] IDENTITY(1,1) NOT NULL,
	[Nm_Database] [varchar](500) NULL,
 CONSTRAINT [PK_User_Database] PRIMARY KEY CLUSTERED 
(
	[Id_Database] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
