USE [TI_Database]
GO
/****** Object:  Table [dbo].[ACESSOS_ATAK]    Script Date: 10/06/2021 09:29:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACESSOS_ATAK](
	[Id_ACESSOS_ATAK] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[Cod_usuario] [varchar](30) NULL,
	[Login] [datetime] NULL,
	[Last] [datetime] NULL,
	[MachineID] [varchar](128) NULL,
	[Data_Log] [datetime] NULL,
 CONSTRAINT [PK_ACESSOS_ATAK] PRIMARY KEY CLUSTERED 
(
	[Id_ACESSOS_ATAK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACESSOS_ATAK] ADD  DEFAULT (getdate()) FOR [Data_Log]
GO
