USE [TI_Database]
GO
/****** Object:  View [dbo].[VW_VS_FaturamentoDevolucao]    Script Date: 20/06/2022 18:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[VW_VS_FaturamentoDevolucao] as
SELECT S.COD_VEND_COMP AS COD_VENDEDOR, 
       ISNULL(GVEND.NOME_CADASTRO, 'Ñ INFORMADO') AS NOME_VENDEDOR, 
       S.COD_CLI_FOR AS COD_CLIENTE, 
       ISNULL(GCLI.NOME_CADASTRO, 'Ñ INFORMADO') AS NOME_CLIENTE, 
	   GCLI.Cod_percurso, 
	   TBPercurso.Descricao Percurso,
       S.DATA_MOVTO, 
       S.NUM_DOCTO, 
	   s.Cod_tipo_mv TMV,
       SI.COD_PRODUTO AS COD_PRODUTO, 
       P.DESC_PRODUTO_NF AS NOME_PRODUTO, 
       SUM(ISNULL(SI.QTDE_PRI, 0)) AS QTDE_PRI, 
       SUM(ISNULL(SI.QTDE_AUX, 0)) AS QTDE_AUX, 
       SUM(ISNULL(SI.VALOR_LIQUIDO, 0)) AS VALOR_LIQUIDO, 
       ISNULL(EI.QTDE_PRI,0) * -1 AS KG_DEV, 
       ISNULL(EI.QTDE_AUX,0) * -1 AS CX_DEV, 
       ISNULL(EI.VALOR_LIQUIDO,0) * -1 AS VLR_DEV,
       SUM(SI.QTDE_PRI) - (ISNULL(EI.QTDE_PRI,0)) AS QTDE_PRI_TOTAL, 
       SUM(SI.QTDE_AUX) - (ISNULL(EI.QTDE_AUX,0)) AS QTDE_AUX_TOTAL,
       SUM(SI.VALOR_LIQUIDO) - (ISNULL(EI.VALOR_LIQUIDO,0)) AS VALOR_LIQUIDO_TOTAL
FROM [SATKFRANGAO].[dbo].TBSAIDASITEM SI
     INNER JOIN [SATKFRANGAO].[dbo].TBSAIDAS S ON S.CHAVE_FATO = SI.CHAVE_FATO
                              AND SI.NUM_SUBITEM = 0
     INNER JOIN [SATKFRANGAO].[dbo].TBPRODUTO P ON SI.COD_PRODUTO = P.COD_PRODUTO
     INNER JOIN [SATKFRANGAO].[dbo].TBTIPOMVESTOQUE TMV ON TMV.COD_TIPO_MV = S.COD_TIPO_MV
     LEFT OUTER JOIN [SATKFRANGAO].[dbo].TBCADASTROGERAL GVEND ON GVEND.COD_CADASTRO = S.COD_VEND_COMP
     INNER JOIN [SATKFRANGAO].[dbo].TBCADASTROGERAL GCLI ON GCLI.COD_CADASTRO = S.COD_CLI_FOR
	 LEFT JOIN [SATKFRANGAO].[dbo].tbPercurso ON (GCLI.COD_PERCURSO = tbPercurso.Cod_percurso)
     LEFT JOIN [SATKFRANGAO].[dbo].TBENTRADASITEM EI ON EI.CHAVE_FATO_ORIG = S.CHAVE_FATO
                                     AND EI.COD_PRODUTO = SI.COD_PRODUTO
WHERE TMV.CLASSE = '5'
      AND S.STATUS_CTB = 'S'
      AND S.STATUS <> 'C'
      AND S.COD_DOCTO = 'NE'
      AND SI.QTDE_AUX <> 0
GROUP BY S.COD_VEND_COMP, 
         GVEND.NOME_CADASTRO, 
         S.COD_CLI_FOR, 
         GCLI.NOME_CADASTRO, 
         S.DATA_MOVTO, 
         S.NUM_DOCTO,
		 s.Cod_tipo_mv,
         SI.COD_PRODUTO, 
         P.DESC_PRODUTO_NF, 
         EI.COD_PRODUTO, 
         EI.QTDE_PRI, 
         EI.QTDE_AUX, 
         EI.VALOR_LIQUIDO, 
	     GCLI.Cod_percurso, 
	     TBPercurso.Descricao
GO
