USE [TI_Database]
GO
/****** Object:  Table [dbo].[Ignore_Databases]    Script Date: 20/06/2022 18:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ignore_Databases](
	[Nm_Database] [varchar](500) NULL
) ON [PRIMARY]
GO
