USE [TI_Database]
GO
/****** Object:  View [dbo].[VW_Rel_RazaoContabil]    Script Date: 20/06/2022 18:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VW_Rel_RazaoContabil] as
SELECT 
      [VWMOVTOCTB].[NUM_LANCTO]         AS [NUM_LANCTO], 
      [VWMOVTOCTB].[COD_CONTA]          AS [COD_CONTA], 
      [VWMOVTOCTB].[COD_REDUZ_CONTA]    AS [COD_REDUZ_CONTA], 
      [VWMOVTOCTB].[DESC_CONTA]         AS [DESC_CONTA], 
      [VWMOVTOCTB].[STATUS_PARTIDA]     AS [STATUS_PARTIDA], 
      [VWMOVTOCTB].[COMPLEM_HISTORICO]  AS [COMPLEM_HISTORICO], 
      [VWMOVTOCTB].[COD_REDUZ_CONTA_CP] AS [COD_REDUZ_CONTA_CP], 
      [VWMOVTOCTB].[DATA_LANCTO]        AS [DATA_LANCTO], 
      [VWMOVTOCTB].[COD_FILIAL]         AS [COD_FILIAL], 
      [VWMOVTOCTB].[CHAVE_FATO]         AS [CHAVE_FATO], 
      [VWMOVTOCTB].[VALOR_DEBITO]       AS [VALOR_DEBITO], 
      [VWMOVTOCTB].[VALOR_CREDITO]      AS [VALOR_CREDITO], 
      [VWMOVTOCTB].[VALOR_DC]           AS [VALOR_DC], 
      [VWMOVTOCTB].[STATUS_AUDITORIA]   AS [STATUS_AUDITORIA], 
      [VWMOVTOCTB].[TIPO_LANCTO]        AS [TIPO_LANCTO]
 FROM [SATKFRANGAO].[dbo].[VWMOVTOCTB]  AS [VWMOVTOCTB]
WHERE [VWMOVTOCTB].[DATA_LANCTO] >= '2021-12-01 00:00:00' 
  AND ( NOT (    [VWMOVTOCTB].[TIPO_LANCTO] ='E' 
	         AND [VWMOVTOCTB].[TIPO_LANCTO] IS NOT NULL
			)
	  ) 
  --AND [VWMOVTOCTB].[COD_CONTA] >= '1' 
  --AND [VWMOVTOCTB].[COD_CONTA] <= '1.1.1.2.40.001'
GO
