USE [TI_Database]
GO
/****** Object:  Table [dbo].[Alert_Cluster_Active_Node]    Script Date: 20/06/2022 18:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alert_Cluster_Active_Node](
	[Nm_Active_server] [varchar](100) NULL
) ON [PRIMARY]
GO
