USE [TI_Database]
GO
/****** Object:  Table [dbo].[User_Server]    Script Date: 20/06/2022 18:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Server](
	[Id_Server] [int] IDENTITY(1,1) NOT NULL,
	[Nm_Server] [varchar](100) NOT NULL,
 CONSTRAINT [PK_User_Server] PRIMARY KEY CLUSTERED 
(
	[Id_Server] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
