USE [TI_Database]
GO
/****** Object:  Table [dbo].[BKP_TBProduto]    Script Date: 20/06/2022 18:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BKP_TBProduto](
	[Cod_produto] [char](12) NOT NULL,
	[Cod_St] [char](3) NULL,
	[Cod_fabricante] [int] NULL,
	[Cod_grupo_rend] [char](2) NULL,
	[Cod_divisao1] [char](4) NOT NULL,
	[Cod_divisao2] [char](4) NOT NULL,
	[Cod_divisao3] [char](4) NOT NULL,
	[Cod_Cf] [char](5) NULL,
	[Cod_unidade_pri] [char](4) NULL,
	[Cod_unidade_aux] [char](4) NULL,
	[Cod_unidade_minmax] [char](4) NULL,
	[Cod_grade] [smallint] NULL,
	[Desc_produto_est] [varchar](60) NULL,
	[Desc_produto_nf] [varchar](60) NULL,
	[Desc_produto_rot] [varchar](60) NULL,
	[Marca] [varchar](20) NULL,
	[Data_cadastro] [datetime] NULL,
	[Tipo_produto] [char](2) NULL,
	[Valor_pauta] [decimal](13, 3) NULL,
	[Eh_comestivel] [char](1) NULL,
	[SifDipoa] [varchar](10) NULL,
	[Perc_desossa] [decimal](5, 2) NULL,
	[Ref_mercosul] [char](2) NULL,
	[Cod_mercosul] [varchar](15) NULL,
	[Ref_UE] [char](2) NULL,
	[Cod_UE] [varchar](15) NULL,
	[Aliq_issqn] [decimal](5, 2) NULL,
	[Cod_trb] [smallint] NULL,
	[Altura] [smallint] NULL,
	[Comprimento] [smallint] NULL,
	[Largura] [smallint] NULL,
	[Cod_unidade_cpa] [char](4) NULL,
	[Cod_unidade_vda] [char](4) NULL,
	[Pesavel] [char](1) NULL,
	[Classifica_valorPorPeso] [char](1) NULL,
	[Tipo_demanda] [char](2) NULL,
	[Fabricado] [char](1) NULL,
	[Perc_imposto1] [decimal](6, 3) NULL,
	[Perc_imposto2] [decimal](6, 3) NULL,
	[Perc_imposto3] [decimal](6, 3) NULL,
	[Pesagem_dupla] [char](1) NOT NULL,
	[Tipo_animal] [char](1) NOT NULL,
	[Tipo_operacao_ent] [char](4) NOT NULL,
	[Tipo_operacao_sai] [char](4) NOT NULL,
	[Unidade_comprometimento] [char](3) NULL,
	[Cod_StIPI] [char](2) NULL,
	[Cod_StPIS] [char](2) NULL,
	[Cod_StCOFINS] [char](2) NULL,
	[Cod_gen] [char](3) NULL,
	[Tipo_item] [char](2) NULL,
	[Hash] [varbinary](100) NULL,
	[Cod_unidade_trib] [char](4) NULL
) ON [PRIMARY]
GO
