USE [TI_Database]
GO
/****** Object:  Table [dbo].[tbCadastroGeral_Bkp_210222]    Script Date: 20/06/2022 18:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCadastroGeral_Bkp_210222](
	[Cod_cadastro] [int] NOT NULL,
	[Tipo_cadastro] [char](1) NULL,
	[Cod_filial] [char](3) NULL,
	[Cod_area] [char](3) NOT NULL,
	[Nome_cadastro] [varchar](60) NULL,
	[Apelido] [varchar](50) NULL,
	[Cod_reduz_conta] [char](10) NULL,
	[Cod_cond_pgto] [char](4) NULL,
	[Tipo_FJ] [char](1) NULL,
	[Cpf_Cgc] [char](18) NULL,
	[Rg_IE] [char](14) NULL,
	[Data_cadastro] [datetime] NULL,
	[Observacao] [varchar](100) NULL,
	[Cod_situacao] [char](2) NULL,
	[Cod_ramo] [char](4) NULL,
	[Status_Fluxo] [char](1) NULL,
	[Cod_reduz_conta_ad] [char](10) NULL,
	[Cod_percurso] [char](5) NULL,
	[Ordem_percurso] [smallint] NULL,
	[Distancia] [smallint] NULL,
	[Data_alteracao] [datetime] NULL,
	[Cod_reduz_conta1] [char](10) NULL,
	[Cod_reduz_conta2] [char](10) NULL,
	[Cod_reduz_conta3] [char](10) NULL,
	[Uf] [char](2) NULL,
	[cod_cadastro1] [int] NULL,
	[Num_v1] [decimal](15, 3) NULL,
	[Num_v2] [decimal](15, 3) NULL,
	[Num_v3] [decimal](15, 3) NULL,
	[Campo_v1] [varchar](50) NULL,
	[Campo_v2] [varchar](50) NULL,
	[Campo_v3] [varchar](50) NULL,
	[Data_v1] [datetime] NULL,
	[Data_v2] [datetime] NULL,
	[Data_v3] [datetime] NULL,
	[Num_v4] [decimal](15, 3) NULL,
	[Num_v5] [decimal](15, 3) NULL,
	[Num_v6] [decimal](15, 3) NULL,
	[Campo_v4] [varchar](50) NULL,
	[Campo_v5] [varchar](50) NULL,
	[Campo_v6] [varchar](50) NULL,
	[Micro_empresa] [char](1) NULL,
	[Orgao_emissor] [varchar](20) NULL,
	[Data_emissao_rg] [datetime] NULL,
	[Cod_reduz_conta4] [char](10) NULL,
	[Cod_reduz_conta5] [char](10) NULL,
	[Suframa] [char](9) NULL,
	[Data_consulta_sefaz] [datetime] NULL,
	[Cartao_loja] [char](15) NULL,
	[Validade_cartao_loja] [datetime] NULL,
	[Homologado_iso] [char](1) NULL,
	[Tipo_homologacao_iso] [char](1) NULL,
	[Cod_conta_ref] [varchar](30) NULL,
	[Cod_conta_ref1] [varchar](30) NULL,
	[Cod_conta_ref2] [varchar](30) NULL,
	[Cod_conta_ref3] [varchar](30) NULL,
	[Cod_conta_ref4] [varchar](30) NULL,
	[Cod_conta_ref5] [varchar](30) NULL,
	[Cod_conta_ref_ad] [varchar](30) NULL,
	[FlxTr] [smallint] NULL,
	[Cod_usuario_validou_fin] [varchar](30) NULL,
	[Cod_usuario_validou_ctb] [varchar](30) NULL,
	[Cod_usuario_validou_vda] [varchar](30) NULL,
	[Data_validou_fin] [datetime] NULL,
	[Data_validou_ctb] [datetime] NULL,
	[Data_validou_vda] [datetime] NULL,
	[Cod_usuario_xbloqueio] [varchar](30) NULL,
	[Data_xbloqueio] [datetime] NULL,
	[Cod_usuario_xinativacao] [varchar](30) NULL,
	[Data_xinativacao] [datetime] NULL,
	[Nao_zip_arquivos_email] [char](1) NULL,
	[Cod_local_estoque] [char](4) NULL,
	[Perc_validade_resf] [decimal](7, 4) NULL,
	[Perc_validade_cong] [decimal](7, 4) NULL,
	[Perc_validade_ambiente] [decimal](7, 4) NULL,
	[Cod_tipo_mv_fts] [char](4) NULL,
	[Cod_tipo_mv_fte] [char](4) NULL,
	[indIE] [tinyint] NULL,
	[Cod_cadastro_trib] [int] NULL,
	[indCPRB] [tinyint] NULL,
	[ConfigXML] [varchar](max) NULL,
	[Origem_cadastro] [tinyint] NULL,
	[Cod_usuario_cadastro] [varchar](30) NULL,
	[Cod_Sistema_terceiro] [varchar](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
